<!doctype html>

<html ng-app="angOptionsApp">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="/things/ngOptions.js"></script>
    <meta charset="UTF-8">
</head>

<body>

<div ng-controller="OptionsListController">
    <div class="container">
     <!--Navigation Menu-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link" href="#home">Register a New Thing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#news">Borrow Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Return Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" ng-click="isShowHide('show')">Things Owned with History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" ng-click="isShowHide('showUsers')">Things Borrowed</a>
              </li>
          </ul>
      </div>
    </nav>
    <br />

        <div class="row">
        <div class="col col-lg-2">
        <!--dropdown with list of users-->
            <label>Users
                <select class="form-control" ng-model="selectedUser" ng-options="user as user.name for user in users">
                </select>
            </label>
        </div>
        <div class="col col-lg-2">
        <!--Dropdown for things owned by a user-->
            <label>Things Owned
                <select class="form-control" ng-model="selectedThing" ng-options="thing as thing.name for thing in selectedUser.things_details">
                 </select>
            </label>
        </div>
        </div>
        <br />

        <div class="row">
        <div class="col col-lg-2">
            <!--thing name selected is passed as a param to the function on click-->
             <input type="button" value="Show History" class="btn btn-dark" ng-click="GetHistory(selectedThing.name)"/>
        </div>
        </div>
        <br />

    <!--Show history of things owned by a user-->
    <div class="table-responsive">
    <table class="table" ng-if="showTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Borrower</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="historyy in ownedHistory">
            <td><ul>
                <li ng-repeat="element in historyy.history">
                    {{element.date}}
                </li>
            </ul></td>

            <td><ul>
                <li ng-repeat="element in historyy.history">
                    {{element.status}}
                </li>
            </ul></td>

            <td><ul>
                <li ng-repeat="element in historyy.user_details">
                    {{element.name}}
                </li>
            </ul></td>

        </tr>
        </tbody>
    </table>
    </div>

    <!--table shows Users and see the items borrowed-->
    <div class="table-responsive">
    <table class="table" ng-show="showuserlist">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.name}}</td>
            <td><input type="button" value="Show Items Borrowed" class="btn btn-dark" ng-click="GetDetails(user._id)"/></td>
        </tr>
        </tbody>
    </table>
    </div>

    <br />

    <!--Table shows the date and status of a item borrowed by a user-->
    <div class="table-responsive">
    <table class="table" ng-if="showTable1">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Date of Return</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="borrowed in thingsBorrowed">
            <td>{{ borrowed.name}}</td>
            <td><ul>
                <li ng-repeat="element in borrowed.history" ng-if="element.status != 'in storage'">
                    {{ element.date }}
                </li>
            </ul></td>

            <td><ul>
                <li ng-repeat="element in borrowed.history" ng-if="element.status != 'in storage'">
                    {{ element.status}}
                </li>
            </ul></td>

            <td><ul>
                <li ng-repeat="element in borrowed.history" ng-if="element.status != 'in storage'">
                    {{ element.return_date}}
                </li>
            </ul></td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

<!--Load Bootstap-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

